*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  /* palette */
  --main-white: white;
  --shade-white: #d3d3d3;
  --main-black: #181818;
  --main-green: #679F5A;
  --dark-green: #22780F;

  /* Fonts */
  --base-font: Open sans, sans-serif;
  --title-font: Merriweather, serif;

  /* Font-size */
  --fs-14: 0.875rem;
  --fs-16: 1rem;
  --fs-18: 1.125rem;
  --fs-20: 1.25rem;
  --fs-24: 1.5rem;
  --fs-30: 1.875rem;
  --fs-36: 2.25rem;
  --fs-42: 2.625rem;
  --fs-50: 3.125rem;
  --fs-72: 4.5rem;

}

html, body {
  height: 100%;
  margin: 0;
}

body {
  background-image: url('ressources/hero-backgr.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 100vh;
}

/* Navigation */

.main-nav {
  position: fixed;
  z-index: 99;
  top: 0;
  width: 100%;
  padding: 16px 20px;
  background-color: #679F5A;
  opacity: 0.9;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  flex-grow: 1;
}

.main-nav ul li {
  margin: 0 12px;
}

.main-nav a {
  padding: 8px;
  border-radius: 2px;
  color: var(--main-white);
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
}

.main-nav a:hover {
  background-color: var(--dark-green);
  color: var(--main-white);
}

.nav-toggler {
  display: none;
}

.auth-button {
  background: var(--main-white);
  border: none;
  border-radius: 4px;
  color: var(--main-green);
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
  padding: 8px;
  font-family: inherit;
}

.auth-button:hover {
  background-color: var(--dark-green);
  color: var(--main-white);
}

@media (max-width: 1024px) {
  .main-nav a {
    font-size: var(--fs-14);
    padding: 6px;
  }
}

@media (max-width: 525px) {
  .main-nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 12px 0;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    opacity: 1;
    z-index: 9999;
  }

  .nav-toggler {
    display: flex;
    position: absolute;
    top: 12px;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--main-green);
    border-radius: 50%;
    padding: 8px;
    border: none;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    z-index: 10000;
    box-shadow: 0 2px 5px rgba(0,0,0,0.3);
  }

  .nav-toggler img {
    width: 24px;
    height: 24px;
    display: block;
  }

  .main-nav ul {
    position: fixed;
    top: 52px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #679F5A;
    width: 90vw;
    max-width: 320px;
    display: none;
    flex-direction: column;
    align-items: center;
    padding: 12px 2px;
    border-radius: 8px;
    z-index: 9998;
  }

  .main-nav ul li {
    margin: 8px 0;
  }

  .main-nav.active ul {
    display: flex;
  }
}






/* Hero */

.hero {
  background-size: cover; 
  background-position: top;
  min-height: 750px;
  padding-top: 60px;
  position: relative;
  text-align: center;
}

.main-title {
  font-family: var(--title-font);
  font-size: var(--fs-72);
  color: var(--dark-green);
  font-weight: 900;
  
}

.main-subtitle {
  font-size: var(--fs-30);
  margin-bottom: 28px;
  color: var(--dark-green);
  font-weight: 300;
}

.hero-link {
  min-width: 155px;
  padding: 8px 12px;
  border-radius: 5px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  cursor: pointer;
  text-decoration: none;
  color: var(--main-white);

}

.hero-link-1 {
  background-color: var(--dark-green);
}

.hero-link-1:hover {
  background-color: var(--main-green);
}

.hero-link-2 {
  background-color: var(--dark-green);
  color: var(--main-white);
  margin-left: 12px;
}

.hero-link-2:hover {
  background-color: var(--main-green);
}

.hero p {
  color: white;
}

.hero label {
  font-size: var(--fs-24);
}

@media (max-width: 1024px) {
  .main-title {
    font-size: var(--fs-24);
  }
  .main-subtitle {
    font-size: var(--fs-24);
  }
  .hero-link {
    min-width: 110px;
    padding: 8px 6px;
    font-size: var(--fs-14);
  }
  
}

@media (max-width: 525px) {
  .hero {
    padding-top: 125px;
    min-height: 500px;
  }

  .hero h1 {
    color: var(--dark-green);
    padding-bottom: 70px;
  }
  .hero-link {
    padding: 6px;
  }
  .main-title {
    font-size: var(--fs-24);
  }
  .main-subtitle {
    font-size: var(--fs-20);
  }
}


/* SOUS-PAGES */

#main-page {
  padding-top: 60px;
  min-height: 200px;
  color: white;
}

/* ACCUEIL */

.home-page {
  margin: 60px auto;
  padding: 10px 10px;
  background-color: var(--dark-green);
  opacity: 0.8;
  border-radius: 5px;
  max-width: 1000px;
  width: 50%;
}

@media (max-width: 768px) {
  .home-page {
    margin: 40px 20px;
    padding: 16px;
    width: calc(100% - 40px);
  }
}

@media (max-width: 480px) {
  .home-page {
    margin: 20px 10px;
    padding: 12px;
    width: calc(1000% - 20px);
  }
}

.home-page ul li {
  list-style-type: none;
}


/* LIEN INSCRIPTION */

.cta-text {
  padding-top: 60px;
  color: white;
}

.cta-link {
  color: white;
  font-weight: bold;
  text-decoration: underline;
}

.cta-link:hover {
  color: var(--main-green);
}


/* INSCRIPTION */
.form-inscription {
  color: var(--main-green);
  max-width: 500px;
  margin: 40px auto;
  padding: 20px;  
  border-radius: 8px;
  background-color: #f9f9f9;
}

.form-group {
  margin-bottom: 16px;
}

.form-group label {
  display: block;
  margin-bottom: 6px;
  font-weight: bold;
  font-size: large;
}

.form-group input {
  width: 100%;
  padding: 8px;
  border-radius: 4px;
  font-size: medium;  
  border: 1px solid var(--dark-green);
}

#car-style {
  width: 100%;
  padding: 12px;
  border-radius: 4px;
  font-size: small;
  border: 1px solid var(--dark-green);
  text-align: center;
  text-align-last: center; 
  height: 40px;
  appearance: none; 
  background-color: white; 

}
.form-inscription p {
  color: var(--main-green);
}

button[type="submit"] {
  padding: 10px 16px;
  background-color: var(--main-green);
  color: white;
  border: none;
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: var(--dark-green);
}

.already-account {
  color: var(--main-green);
  margin-top: 16px;
  text-align: center;
}

.already-account a {
  color: var(--dark-green);
  font-weight: 600;
  text-decoration: none;
}

.already-account p {
  color: var(--main-green);  
}  

.already-account a:hover {
  text-decoration: underline;
}

/* CONNEXION */

.form-login {
  max-width: 400px;
  margin: 30px auto;
  padding: 20px;
  color: var(--dark-green);
  background: #f9f9f9;
  border-radius: 8px;
}

.form-login input[type="email"],
.form-login input[type="password"] {
  width: 100%;
  padding: 10px;  
  box-sizing: border-box;
  margin-bottom: 15px;
}

.form-login button {
  padding: 10px 16px;
  margin-bottom: 30px;
  background-color: var(--main-green);
  color: white;
  border: none;
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer;
}

.form-login p a {
  color: var(--dark-green);
}

.form-login p {
  color: var(--main-green);
}

.form-login p a:hover {
  color: var(--main-green);
}





/* CONTACT */

.form-contact {
  max-width: 500px;
  margin: 80px auto;
  padding: 20px;
  color: var(--main-green);
  background: #f9f9f9;
  border-radius: 8px;
}

.form-contact input,
.form-contact textarea {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  margin-bottom: 15px;
  border-radius: 4px;
  border: 1px solid #ccc;  
}

.form-contact button {
  width: 100%;
  padding: 10px;
  background-color: var(--main-green);
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.form-group label {
  font-weight: 40px;
}


/* TRAJETS */

.search-container {
  margin: 80px auto;
  max-width: 900px;
  padding: 20px;
  background: #f9f9f9;
  border-radius: 8px;
  position: relative;
}

.search-container input,
.search-container button {
  width: 100%;
  margin: 10px 0;
  padding: 10px;
  font-size: 16px;
  box-sizing: border-box;
}

.search-container input {
  color: var(--dark-green);
  border: 1px solid var(--dark-green);
}

.search-container label {
  color: var(--main-green);
  font-weight: 600;
}

.suggestions {
  background: white;
  border-radius: 4px;
  position: absolute;
  z-index: 1000;
  width: 100%;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
  max-height: 180px;
  overflow-y: auto;
  top: 100%;
  left: 0;
  margin-top: 4px;
  color: var(--dark-green);
}

.suggestions div {
  padding: 10px;
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.suggestions div:hover {
  background-color: #f0f0f0;
 
}

.search-button {
  background-color: var(--main-green);
  color: var(--main-white);
  border-radius: 6px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  padding: 10px 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.search-button:hover {
  background-color: var(--dark-green);
}

.form-group {
  position: relative; /* <- Ceci permet à .suggestions de s’ancrer sous l’input */
}

/* Grand écran */
@media (min-width: 768px) {
  #search-form {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex-wrap: wrap;
    gap: 8px;
  }

  .form-group {
    display: flex;
    flex-direction: column;
    flex: 1 1 100px;
    min-width: 100px;
    position: relative; /* IMPORTANT : pour que les suggestions s’alignent sous l’input dans chaque groupe */
  }

  .search-button {
    height: 42px;
    margin-top: auto;
    width: auto; /* Pas 100% ici, pour pas qu’il prenne toute la ligne */
  }
}








/* ERREUR 404 */

.error-404 {
  text-align: center;
  min-height: 750px;
  padding-top: 150px;
  background-image: url(ressources/404-background.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

.error-404 h1 {
  font-size: 80px;
  color: var(--main-white);
  margin-bottom: 10px;
}

.error-404 p {
  font-size: 20px;
  padding: 12px 24px;
  background-color: var(--main-white); 
  margin-bottom: 30px;
  opacity: .9;
  color: var(--dark-green);
}

.error-404 a {
  display: inline-block;
  padding: 12px 24px;
  background-color: var(--dark-green);
  color: white;
  text-decoration: none;
  border-radius: 8px;  
  transition: background-color 0.3s;
}

.error-404 a:hover {
  background-color: var(--main-green);
}







